@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CIPlatform.Entities.Models.ChangePassUserModel


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    @*-------Links for checkbox---------*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>


    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" integrity="sha384-PDcvo7sjvIljW+a9XkNG6y5U5+M0gfdWvpzPIbU6Z+uDiiZJg6pwqd+y9Xvn+fw/" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/platformlandingpage.css">
    <link rel="stylesheet" href="~/css/storylisting.css">
    <link rel="stylesheet" href="~/css/editprofile.css">




    <title>Edit User Profile</title>
</head>




<header>
    <div class="container-fluid">


        <nav class="navbar navbar-expand-md navbar-light ">

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item stories">
                        <a class="nav-link" asp-action="StoryListing" asp-controller="Home">Stories</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-policy" href="#" id="navbarDropdown"
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Policy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Volunteering</a>
                            <a class="dropdown-item" href="#">Sponsered</a>

                    </li>
                    <li>
                        <img src="~/NewFolder/user-img.png" style="align-content:flex-end;" alt="" class="user-avatar">
                    </li>



                </ul>
                <div class="nav-item dropdown" style="margin-right:15%; width:auto;">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: grey; ">

                        <button class="btn1 dropdown-toggle" style="width:100%; border: none; color: grey" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @ViewBag.fullname
                        </button>

                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Add Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a></li>
                    </ul>
                </div>

            </div>
        </nav>
        <hr>

    </div>
</header>
<body>

    <div class="main-div" onchange="userprofile()">

        <div class="row">

            <div class="col-4">

                <div class="left-div">
                    <div>
                        <img class="img-left" src="~/NewFolder/user-img-large.png" />
                        <h4 style="text-align:center; margin-top:5%;">@ViewBag.FirstName @ViewBag.LastName</h4>


                        <!-- Button trigger modal -->



                        <button type="button" class="btn change-link" data-toggle="modal" data-target="#exampleModalCenter">
                            Change Password
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form id="change-form" asp-action="ChangeUserPass" asp-controller="Home" method="post">

                                        <div class="modal-body">



                                            <div>

                                                <input asp-for="OldPassword" id="OldPassword" name="OldPassword" type="password" class="form-control" placeholder="Enter old password">
                                                <span asp-validation-for="OldPassword" class="text-danger" style="font-size:12px;margin-top:-2%;"></span>
                                            </div>
                                            <br />
                                            <div>


                                                <input asp-for="NewPassword" name="NewPassword" id="NewPassword" type="password" class="form-control" placeholder="Enter new password">
                                                <span asp-validation-for="NewPassword" class="text-danger" style="font-size:12px;margin-top:-2%;"></span>

                                            </div>
                                            <br />
                                            <div>

                                                <input asp-for="ConfirmPassword" name="ConfirmPassword" id="ConfirmPassword" type="password" class="form-control" placeholder="Enter confirm password">
                                                <span asp-validation-for="ConfirmPassword" class="text-danger" style="font-size:12px;margin-top:-2%;"></span>


                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary cancel-btn" data-dismiss="modal">Cancel</button>
                                            @*<button type="button" class="btn changepass-btn">Change Password</button>*@
                                            <button type="submit" class="btn changepass-btn" onclick="changeuserpass()" style="text-align:center; justify-content:center;">
                                                Change Password
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-6" style="margin-left:5%;">
                @{
                //if(ViewBag.fetchUserDetails!=null)
            //{

            ////User userdata = ViewBag.fetchUserDetails;
                    //foreach(var userdata in ViewBag.fetchUserDetails)
                    //{

                    <h3>Basic Information</h3>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <label for="" class="form-label">Name</label>
                            <input id="fname" type="text" class="form-control" id="" placeholder="Enter your Name" value="@ViewBag.FirstName">
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">Surname</label>
                            <input id="lname" type="text" class="form-control" id="" placeholder="Enter your Surname" value="@ViewBag.LastName">
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-6">
                            <label for="" class="form-label">Employee ID</label>
                            <input id="empid" type="text" class="form-control" id="" placeholder="Enter your Employee Id" value="@ViewBag.EmployeeId">
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">Manager</label>
                            <input id="" type="text" class="form-control" id="" placeholder="Enter your Manager Details">
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-6">
                            <label for="" class="form-label">Title</label>
                            <input id="title" type="text" class="form-control" id="" placeholder="Enter title" value="@ViewBag.Title">
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">Department</label>
                            <input id="dept" type="text" class="form-control" id="" placeholder="Enter your Department" value="@ViewBag.Department">
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-12">
                            <label for="" class="form-label">My Profile</label>
                            <textarea id="profiletxt" class="form-control" rows="10" cols="5" placeholder="Enter your comments...">
                                @ViewBag.ProfileText
            </textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <label for="" class="form-label">Why I Volunteer?</label>
                            <textarea id="why" class="form-control" rows="10" cols="5" placeholder="Enter your comments...">
                                @ViewBag.WhyIVolunteer
            </textarea>
                        </div>

                    </div>

                    <br />
                    <br />
                    <h3>Address Information</h3>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <label for="" class="form-label">City</label>
                            <input id="cityid" type="text" class="form-control" id="" placeholder="Enter your city" value="@ViewBag.CityId">
                        </div>
                        <div class="col-6">
                            <label for="" class="form-label">Country</label>
                            <br />
                            <!-- Example single danger button -->
                            <div class="btn-group" style="width:100%;">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />
                    <h3>Professional Information</h3>
                    <hr />
                    <div class="row">

                        <div class="col-6">
                            <label for="" class="form-label">Select your availability</label>
                            <br />
                            <!-- Example single danger button -->
                            <div class="btn-group" style="width:100%;">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="" class="form-label">LinkedIn</label>
                            <input id="link" type="text" class="form-control" id="" placeholder="Enter your LinkedIn URL" value="@ViewBag.LinkedInUrl">
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="row">
                        <div class="col-12">
                            <h3>My Skills</h3>
                            <hr />
                            <div class="row">


                                 <div class="col skills-box form-label">
                                                        <select id="select-down" class="form-select" multiple>
                                                        </select>
                                                    </div>

                            </div>
                            <br />



                            <!-- Button trigger modal -->
                            <button type="button" class="btn add-skills" data-toggle="modal" data-target="#exampleModal">
                                Add Skills
                            </button>


                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add Your Skills</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <select id="select-left" class="form-select" multiple>
                                                            @{
                                                                foreach (var skills in ViewBag.skills)
                                                                {


                                                                    <option id="@skills.SkillId" value="@skills.SkillName">@skills.SkillName</option>


                                                                }
                                                            }
                                                           
                                                        </select>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="d-flex flex-column">
                                                            <button id="btn-add" type="button" class="btn btn-primary mb-2">&gt;</button>
                                                            <button id="btn-remove" type="button" class="btn btn-primary">&lt;</button>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <select id="select-right" class="form-select" multiple>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>





                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary cancel-btn" data-dismiss="modal">Cancel</button>
                                            <button type="button" id="btn-save" onclick="saveSkills()" class="btn btn-primary save-btn">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>



                    </div>


                    <div class="row">
                        <div class="col-12">
                            <button class="save-btn" onclick="editUser()">Save</button>


                        </div>
                    </div>
                }


            </div>
            <div class="col-2"></div>
        </div>

    </div>
    <br />
    <hr />
    <footer>

        <div class="footer">

            <a href="#" class="privacyp">Privacy Policy</a>

            <a href="#" class="privacyp">Contact Us</a>

        </div>
    </footer>

    <script src="~/js/landing.js"></script>






    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-qnPhWW1r0hzM7OMJ8P5OOvHzT/8mk5FyZyZahlxg6esBtbH/d5Bh/kKoNJvZfQRV" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-5npSsdmc9zKo3qdq3OcWZC1gZ7Vzy+RCE+nI7VrTth8bT7TkkD/KtPFoLBENw0Yt" crossorigin="anonymous"></script>
    <script>
        // Get references to the select elements and buttons
        const selectLeft = document.getElementById('select-left');
        const selectRight = document.getElementById('select-right');
        const btnAdd = document.getElementById('btn-add');
        const btnRemove = document.getElementById('btn-remove');

        // Add event listeners to the buttons
        btnAdd.addEventListener('click', () => {
          // Move selected options from left to right
         
          Array.from(selectLeft.selectedOptions).forEach(option => {
            selectRight.appendChild(option);
            
          });
        });

        btnRemove.addEventListener('click', () => {
          // Move selected options from right to left
          Array.from(selectRight.selectedOptions).forEach(option => {
            selectLeft.appendChild(option);
          });
        });
    </script>




</body>
</html>