@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using CIPlatform.Models.ViewModels
@model LandingAllModels


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    @*-------Links for checkbox---------*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>


    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">


    <link rel="stylesheet" href="~/css/platformlandingpage.css">
    <link rel="stylesheet" href="~/css/storylisting.css">



    <title>Platform Landing Page</title>
</head>

<body onload="myFunction()">



    <header>
        <div class="container-fluid">


            <nav class="navbar navbar-expand-md navbar-light ">

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item stories">
                            <a class="nav-link" asp-action="StoryListing" asp-controller="Home">Stories</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-policy" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Policy
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Volunteering</a>
                                <a class="dropdown-item" href="#">Sponsered</a>
                                </div>
                        </li>
                        <li>
                            <img src="data:image;base64,@ViewBag.avatarimg" alt="" class="user-avatar">
                        </li>



                    </ul>
                    <div class="nav-item dropdown" style="margin-right:15%; width:auto;">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: grey; ">

                            <button class="btn1 dropdown-toggle" style="width:100%; border: none; color: grey" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @ViewBag.fullname
                            </button>

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="EditProfile">My Profile</a></li>

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Timesheet">Volunteering Timesheet</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <hr style="color:grey;">
            <div class="container-fluid">
                <div class="row row-search">
                    <div class="col-lg-6 col-sm-6">
                        <nav class="navbar navbar-expand-lg navbar-light  search-nav">

                            <div class="search-combine">

                                <img src="~/NewFolder/search.png" alt="" class="search-icon">

                                @using (Html.BeginForm("PlatformLandingPage", "Home", FormMethod.Get))

                                {
                                    <form class="form-inline my-2 my-lg-0">

                                        @Html.TextBox("searching","", new {@class = "form-control mr-sm-2 search-bar", @placeholder = "Search mission..."})


                                    </form>
                                }




                            </div>

                        </nav>
                    </div>
                    <div class="col-lg-5 col-sm-6">


                        <div class="filterbox">
                            <div class=" dropdown uname">
                                <button class=" dropdown uname1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Country <i class="bi bi-chevron-down "></i>
                                </button>
                                <i class="fa fa-caret-down dicon" aria-hidden="true"></i>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    @foreach (var item in ViewBag.Country)
                                    {
                                        <li class="dropdown">
                                            <div class="check-box">
                                                <span>
                                                    <input type="checkbox" class="checkbox" name="filcountry" value="@item.CountryId" onclick="FilterCountry(@item.CountryId)">
                                                    <label for="@item.Name"> @item.Name</label>
                                                </span>
                                            </div>

                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>
                        <div class="filterbox">
                            <div class=" dropdown uname">
                                <button class=" dropdown uname1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    City <i class="bi bi-chevron-down "></i>
                                </button>
                                <i class="fa fa-caret-down dicon" aria-hidden="true"></i>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    @foreach (var item in ViewBag.Cities)
                                    {
                                        <li class="dropdown">
                                            <div class="check-box">
                                                <span>
                                                    <input type="checkbox" class="checkbox" name="filcity" value="@item.CityId" onclick="FilterCity(@item.CityId)">
                                                    <label for="@item.Name"> @item.Name</label>
                                                </span>
                                            </div>

                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>
                        <div class="filterbox">
                            <div class=" dropdown uname">
                                <button class=" dropdown uname1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Theme <i class="bi bi-chevron-down "></i>
                                </button>
                                <i class="fa fa-caret-down dicon" aria-hidden="true"></i>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    @foreach (var item in ViewBag.MissionThemes)
                                    {
                                        <li class="dropdown">
                                            <div class="check-box">
                                                <span>
                                                    <input type="checkbox" class="checkbox" name="subcats" value="@item.MissionThemeId" onclick="SortBySubcat(@item.MissionThemeId)">
                                                    <label for="@item.Title"> @item.Title</label>
                                                </span>
                                            </div>

                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>

                        <div class="filterbox">
                            <div class=" dropdown uname">
                                <button class=" dropdown uname1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Skill <i class="bi bi-chevron-down "></i>
                                </button>
                                <i class="fa fa-caret-down dicon" aria-hidden="true"></i>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    @foreach (var item in ViewBag.MissionSkills)
                                    {
                                        <li class="dropdown">
                                            <div class="check-box">
                                                <span>
                                                    <input type="checkbox" id="@item.MissionId" name="filskill" class="checkbox" value="@item.MissionId" onclick="FilterSkill(@item.MissionId)">
                                                    <label for="@item.Skill.SkillName"> @item.Skill.SkillName</label>
                                                </span>
                                            </div>

                                        </li>
                                    }
                                </ul>

                            </div>


                            @* <div class="filterbox">
                                <div class="navbar-nav ms-4  ">

                                <form id="filter-form" action="@Url.Action("PlatformLandingPage", "Home")" method="get">


                                <select id="filter-select" name="filter" style="border:none; background:none;" onchange="filterChanged()">
                                <option selected disabled hidden>Theme</option>

                                @{


                                @foreach (var item in ViewBag.MissionThemes)
                                {
                                <option id=@item.MissionThemeId style="border:none">@item.Title</option>




                                }
                                }
                                </select>

                                </form>
                                </div>

                                </div>
                                <div class="filterbox">
                                <div class="navbar-nav ms-4  ">
                                <select id="filter-dropdown" name="skill" style="border:none; background:none;">
                                <option selected disabled hidden>Skill</option>
                                @foreach (var item in ViewBag.MissionSkills)
                                {
                                <option style="border:none">@item.Skill</option>

                                }
                                </select>

                                </div>
                                </div>*@

                        </div>
                        <div class="col-lg-1">
                        </div>




                    </div>
                </div>
                <hr class="hr2" style="color:grey;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-11">


                            <br>
                            <div style="display: flex;">

                                <label class="explore72"> Explore <b>@ViewBag.Totalmissions</b> missions</label>




                                @* <form id="sort-by" action="@Url.Action("PlatformLandingPage", "Home")" method="get" onchange="SortBy()">
                                    <a class="nav-link dropdown-toggle dropdown-sort" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort by
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-action="PlatformLandingPage" asp-route-sortOrder="@ViewBag.DateSortParam">Newest</a>
                                    <a class="dropdown-item" asp-action="PlatformLandingPage" asp-route-sortOrder="@ViewBag.DateSortParam">Oldest</a>
                                    </div>

                                    </form>
                                *@
                                <div class="filterbox-sort col-md-2 col-sm-4 col-xs-4">
                                    <div class="navbar-nav ms-4">
                                        @*<form id="sortOrder-form" action="@Url.Action("PlatformLandingPage", "Home")" method="get" onchange="SortBy()">

                                            <select id="sortOrder-select" name="sortOrder" style="border:none; background:none;">

                                            <option id="sortOrder-select" value="" selected disabled hidden>Sort By</option>


                                            <option id="sortOrder" value="newest" style="border:none" asp-route-sortOrder="@ViewBag.StartDateSortParm">Newest</option>


                                            <option id="sortOrder" value="oldest" style="border:none" asp-route-sortOrder="@ViewBag.StartDateSortParm">Oldest</option>


                                            </select>

                                            </form>*@


                                        <select class="form-control" onchange="location = this.value;">
                                            <option value="" selected>Sort By</option>
                                            <option value="@Url.Action("PlatformLandingPage", new { sortOrder = ViewBag.DateSortParamAsc })">Oldest</option>
                                            <option value="@Url.Action("PlatformLandingPage", new { sortOrder = ViewBag.DateSortParam })">Newest</option>
                                            <option value="@Url.Action("PlatformLandingPage", new { sortOrder = ViewBag.LowestSeats })">Lowest Available Seats</option>
                                            <option value="@Url.Action("PlatformLandingPage", new { sortOrder = ViewBag.HighestSeats })">Highest Available Seats</option>
                                            <option value="@Url.Action("PlatformLandingPage", new { sortOrder = ViewBag.DeadlineNear })">Nearer Deadline</option>
                                            <option value="@Url.Action("PlatformLandingPage", new { sortOrder = ViewBag.DeadlineFar })">Farther Deadline</option>
                                            @*@Html.DisplayNameFor(model => model.Mission.StartDate)*@
                                        </select>







                                    </div>
                                </div>



                                @* <a class="nav-link dropdown-toggle dropdown-sort" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort by
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    </div>*@





                                <button id="grdbtn" onclick="grid1()">
                                    <img src="~/NewFolder/grid.png" alt="">
                                </button>
                                <button id="lstbtn" onclick="list1()">
                                    <img src="~/NewFolder/list.png" alt="">
                                </button>
                            </div>

                            @using (Html.BeginForm("PlatformLandingPage", "Home", FormMethod.Get))
                            {
                                if (@ViewBag.SearchStatus == 0)
                                {
                                    @*<div class="alert alert-danger">No Mission Found</div>*@

                                    <div class="container">

                                        <div class="combine">
                                            <h3 class="no-mission">No Mission Found</h3>
                                            <button class="submit-btn-body">
                                                Submit new mission

                                                <img src="~/NewFolder/right-arrow.png" alt="">

                                            </button>

                                        </div>


                                    </div>
                                }

                            }

                        </div>

                        <div class="col-lg-1">
                        </div>
                    </div>
                </div>


                <br>



            </div>


    </header>



    <!-- Grid View -->
    <div class="grid-view" id="grdp">

        <div class="container-fluid grid-container" style="margin-left:8%; width:80%; margin-top:-3%;">
            <div id="filter_products-grid">
                <partial name="_Grid" />
            </div>
        </div>










        <!-- List View -->

        <div class="list-view active" id="listp">


            <div class="container-fluid">
                <div id="filter_products-list">
                    <partial name="_List" />
                </div>
            </div>
        </div>
        <br />
        @*----PAGINATION----*@
        @* <div class="pagination">
            <nav aria-label="Page navigation example">
            <ul class="pagination">
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
            </a>
            </li>

            <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
            </a>
            </li>

            @for (int i = 1; i <= (int)ViewData["TotalPages"]; i++)
            {

            <li class="page-item"><a class="page-link" href="/Home/PlatformLandingPage?page=@i&pageSize=@ViewData["PageSize"]">@i</a></li>
            }
            <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
            </a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
            </a>
            </li>
            </ul>
            </nav>
            </div>
        *@


       
    </div>

    


    <!-- Javascript -->


    <script>
        function myFunction() {
            document.getElementById('listp').style.display = "none";
        }
        function list1() {
            document.getElementById('grdp').style.display = "none";
            document.getElementById('listp').style.display = "block";
        }
        function grid1() {
            document.getElementById('listp').style.display = "none";
            document.getElementById('grdp').style.display = "block";
        }

    </script>


    <script>
        function filterChanged()
        {
            $('#filter-form').change(function () {
                const filter = $('#filter-


').val();

                const urlParams = new URLSearchParams(window.location.search);
                urlParams.set('filter', filter);

                const newUrl = window.location.pathname + '?' + urlParams.toString();
                history.pushState(null, '', newUrl);

                $('#filter-form').submit();
            });
        }



    </script>


    <script>

        var checkboxes = document.querySelectorAll(".checkbox");

        var filtersSection = document.querySelector(".filters-section");

        var listArray = [];

        var filterList = document.querySelector(".filter-list");

        var len = listArray.length;

        for (var checkbox of checkboxes) {
            checkbox.addEventListener("click", function () {
                if (this.checked == true) {
                    addElement(this, this.value);
                } else {
                    removeElement(this.value);
                }
            });
        }

        function addElement(current, value) {
            //let filtersSection = document.querySelector(".filters-section");

            let createdTag = document.createElement("span");
            createdTag.classList.add("filter-list");
            createdTag.classList.add("ps-3");
            createdTag.classList.add("pe-1");
            createdTag.classList.add("me-2");
            createdTag.innerHTML = value;

            createdTag.setAttribute("id", value);
            let crossButton = document.createElement("button");
            crossButton.classList.add("filter-close-button");
            let cross = "&times;";

            crossButton.addEventListener("click", function () {
                let elementToBeRemoved = document.getElementById(value);

                console.log(elementToBeRemoved);
                console.log(current);
                elementToBeRemoved.remove();

                current.checked = false;
            });

            crossButton.innerHTML = cross;

            createdTag.appendChild(crossButton);
            filtersSection.appendChild(createdTag);
        }

        function removeElement(value) {
            let filtersSection = document.querySelector(".filters-section");

            let elementToBeRemoved = document.getElementById(value);
            filtersSection.removeChild(elementToBeRemoved);
        }


        function CountryFun() {
            $('#country-form').change(function () {


                const country = $('#country-select').val();

                const urlParams = new URLSearchParams(window.location.search);
                urlParams.set('country', country);

                const newUrl = window.location.pathname + '?' + urlParams.toString() + '&' + urlParams.toString();
                history.pushState(null, '', newUrl);


                $('#country-form').submit();
            });
        }



        function CityFun() {
            $('#city-form').change(function () {


                const city = $('#city-select').val();

                const urlParams = new URLSearchParams(window.location.search);
                urlParams.set('city', city);

                const newUrl = window.location.pathname + '?' + urlParams.toString() + '&' + urlParams.toString();
                history.pushState(null, '', newUrl);


                $('#city-form').submit();
            });
        }



    </script>



    <script>
                    var linkurl;
                    function SortBySubcat(s) {
                        var subcats_id = '';

                        $('[name="subcats"]').each(function (i, e) {
                            if ($(e).is(':checked')) {

                                var comma = subcats_id.length === 0 ? '' : ',';
                                subcats_id += (comma + e.value);
                            }
                            var b = document.getElementById('listp').style.display;
                            if (b == 'none') {
                                linkurl = '/Home/_Grid'
                            }
                            else {
                                linkurl = '/Home/_List'
                            }
                        });

                        jQuery.ajax({
                            type: "GET",
                            url: linkurl,
                            data: { subcats_id: subcats_id, },
                            success: function (data) {
                                if (linkurl == '/Home/_Grid') {

                                    $('#filter_products-grid').html(data);
                                }
                                else {
                                    $('#filter_products-list').html(data);
                                }

                                console.log("successs");
                            }
                        });
                    }

                    function FilterCountry(s) {
                        var filterCountry = '';
                        $('[name="filcountry"]').each(function (i, e) {
                            if ($(e).is(':checked')) {

                                var comma = filterCountry.length === 0 ? '' : ',';
                                filterCountry += (comma + e.value);
                            }
                            var b = document.getElementById('listp').style.display;
                            if (b == 'none') {
                                linkurl = '/Home/_Grid'
                            }
                            else {
                                linkurl = '/Home/_List'
                            }
                        });

                        jQuery.ajax({
                            type: "GET",
                            url: linkurl,
                            data: { filterCountry: filterCountry, },
                            success: function (data) {

                                if (linkurl == '/Home/_Grid') {

                                    $('#filter_products-grid').html(data);
                                }
                                else {
                                    $('#filter_products-list').html(data);
                                }


                                console.log("successs");
                            }
                        });
                    }
                    function FilterSkill(s) {
            var filterSkill = '';
            $('[name="filskill"]').each(function (i, e) {
                if ($(e).is(':checked')) {

                    var comma = filterSkill.length === 0 ? '' : ',';
                    filterSkill += (comma + e.value);
                }
                var b = document.getElementById('listp').style.display;
                if (b == 'none') {
                    linkurl = '/Home/_Grid'
                }
                else {
                    linkurl = '/Home/_List'
                }
            });

            jQuery.ajax({
                type: "GET",
                url: linkurl,
                data: { filterSkill: filterSkill, },
                success: function (data) {
                    if (linkurl == '/Home/_Grid') {

                        $('#filter_products-grid').html(data);
                    }
                    else {
                        $('#filter_products-list').html(data);
                    }

                    console.log("successs");
                }
            });
        }


                    function FilterCity(s) {
                        var filtercity = '';
                        $('[name="filcity"]').each(function (i, e) {
                            if ($(e).is(':checked')) {

                                var comma = filtercity.length === 0 ? '' : ',';
                                filtercity += (comma + e.value);
                            }
                            var b = document.getElementById('listp').style.display;
                            if (b == 'none') {
                                linkurl = '/Home/_Grid'
                            }
                            else {
                                linkurl = '/Home/_List'
                            }
                        });




                        jQuery.ajax({
                            type: "GET",
                            url: linkurl,
                            data: { filtercity: filtercity, },
                            success: function (data) {

                                if (linkurl == '/Home/_Grid') {

                                    $('#filter_products-grid').html(data);
                                }
                                else {
                                    $('#filter_products-list').html(data);
                                }


                                console.log("successs");
                            }
                        });
                    }

    </script>






    <script src="~/js/Filter.js"></script>

    <script src="~/js/landing.js"></script>


</body>

</html>