<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    

    @*-------Links for checkbox---------*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>


     <!-- Font Awesome -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">


   


    <link rel="stylesheet" href="~/css/platformlandingpage.css">
    <link rel="stylesheet" href="~/css/storylisting.css">
    
   

    <title>Story Listing Page</title>
</head>




    <header>
        <div class="container-fluid">


            <nav class="navbar navbar-expand-md navbar-light ">

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item stories">
                            <a class="nav-link" asp-action="StoryListing" asp-controller="Home">Stories</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-policy" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Policy
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Volunteering</a>
                                <a class="dropdown-item" href="#">Sponsered</a>

                        </li>
                        <li>
                            <img src="~/NewFolder/user-img.png" style="align-content:flex-end;" alt="" class="user-avatar">
                        </li>

                     

                    </ul>
                     <div class="nav-item dropdown" style="margin-right:15%; width:auto;">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: grey; ">

                        <button class="btn1 dropdown-toggle" style="width:100%; border: none; color: grey" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @TempData["fullname"]
                        </button>
                  
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Add Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a></li>
                        </ul>
               </div>

                </div>
            </nav>
            <hr>
            <div class="container-fluid">
                <div class="row row-search">
                    <div class="col-lg-6 col-sm-6">
                        <nav class="navbar navbar-expand-lg navbar-light  search-nav">

                            <div class="search-combine">

                                <img src="~/NewFolder/search.png" alt="" class="search-icon">

                            @using (Html.BeginForm("StoryListing", "Home", FormMethod.Get))

                            {
                                <form class="form-inline my-2 my-lg-0">

                                    @Html.TextBox("searching","", new {@class = "form-control mr-sm-2 search-bar", @placeholder = "Search mission..."})


                                </form>
                            }

                                @*<form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2 search-bar" type="search"
                                        placeholder="Search mission..." aria-label="Search">

                                </form>*@
                            </div>

                        </nav>
                    </div>
                    <div class="col-lg-5 col-sm-6">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Country
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            City
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Theme
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Skills
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>

                    </div>
                    <div class="col-lg-1">

                    </div>




                </div>
            </div>
            <hr class="hr2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">

                        <button class="search-history">Tree Plantation

                            <img src="~/NewFolder/cancel1.png" alt="cancel" class="img-cancel">

                        </button>

                        <button class="btn-s-short">Canada

                            <img src="~/NewFolder/cancel1.png" alt="cancel" class="img-cancel">

                        </button>

                        <button class="btn-s-short">Toronto

                            <img src="~/NewFolder/cancel1.png" alt="cancel" class="img-cancel">

                        </button>

                        <button class="btn-s-short">Montreal

                            <img src="~/NewFolder/cancel1.png" alt="cancel" class="img-cancel">

                        </button>

                        <button class="search-history">Environment

                            <img src="~/NewFolder/cancel1.png" alt="cancel" class="img-cancel">

                        </button>

                        <button class="btn-s-short">Nutrition

                            <img src="~/NewFolder/cancel1.png" alt="cancel" class="img-cancel">

                        </button>

                        <button class="search-history">Anthropology

                            <img src="~/NewFolder/cancel1.png" alt="cancel" class="img-cancel">

                        </button>

                        <button class="btn-s-long">Environmental Science

                            <img src="~/NewFolder/cancel1.png" alt="cancel" class="img-cancel">

                        </button>

                        <a href="#" class="clear-all">Clear all</a>
                        <br>
                        
                    </div>

                    <div class="col-lg-1">

                    </div>
                </div>
            </div>


            <br>



        </div>


    </header>

    <body>
        <div class="container-fluid" style="padding-left: 5%; padding-right: 5%;">
            <div class="row img-story-list">

                <div class="col-12" style="text-align: center;">
                    
                    
                    <div class="row">
                    <div class="col-12 content">
                            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad 
                                minim veniam.</p>
                                <br>
                       @* <button class="share-btn">*@
                             &nbsp;

                            <a asp-action="ShareYourStory" class="share-btn" asp-controller="Home">Share your story</a>
                                    @*<img src="~/NewFolder/right-arrow2.png" alt="">*@
    
                                @*</button>*@
                        </div>
                    </div>

                    


                </div>
                  
    
            </div>
<br>
<div class="main">

    <div class="row" style="width: 100%;">
           @{
     foreach (var itemss in ViewBag.listofstories)
                {
        <div class="col-md-6 col-lg-4 main-card">

         

            <div class="card " style="width:100%;" >
         <a style="text-decoration: none ; color:#414141" asp-action="StoryDetails" asp-controller="Home" asp-route-id="">
                
                    <img class="card-img-top" src="~/NewFolder/imgenv.png" alt="Card image cap">
         
                
                <div class="row">
                    <div class="col-12" style="text-align: center; margin-top: -3%;">
                                        <button class="round-btn">@itemss.Mission.Title</button>
                    </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title" id="processedStoryData">@itemss.Title</h5>
                  <p class="card-text" style="text-align: justify; font-size: small;">@itemss.Description</p>
                  <a class="card-text" style="text-align: justify; font-size: medium; color:blue; height:auto; width:auto;" href="@itemss.VidUrl">@itemss.VidUrl</a>
                    <br><br>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-3" style="width: 50%;">
                            <img src="~/NewFolder/volunteer1.png" alt="" class="vol-img">
                        </div>
                        <div class="col-lg-8 col-md-5 col-sm-3" style="margin-top: 3%; width: 50%;">
                            <p class="vol-name">@itemss.User.FirstName</p>
                            <p class="vol-name">@itemss.PublishedAt.ToShortDateString()</p>
                        </div>
                      
                   
                        <div class="col-md-3 col-sm-3"></div>
                        <div class="col-sm-3"></div>
                    </div>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
                </a>
              </div>
              
        </div>
        
        }
              }
              
      </div>
      

    <!-- Row 2 -->

    
    <!-- Row 3 -->

<br><br>
    <!-- Pagination -->

<div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
</div>
    

            

</div>
        

<br>
<hr>
<footer>
                
    <div class="footer">
        
        <a href="#" class="privacyp">Privacy Policy</a>
       


    </div>
</footer>
<br>


 <script src="~/js/landing.js"></script>
</body>
</html>
