@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CIPlatform.Entities.Models.VolTimeVM

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    @*-------Links for checkbox---------*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>


    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" integrity="sha384-PDcvo7sjvIljW+a9XkNG6y5U5+M0gfdWvpzPIbU6Z+uDiiZJg6pwqd+y9Xvn+fw/" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/platformlandingpage.css">
    <link rel="stylesheet" href="~/css/storylisting.css">
    <link rel="stylesheet" href="~/css/editprofile.css">
    <link rel="stylesheet" href="~/css/volTime.css">





    <title>Volunteering Timesheet</title>
</head>




<header>
    <div class="container-fluid">


        <nav class="navbar navbar-expand-md navbar-light ">

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item stories">
                        <a class="nav-link" asp-action="StoryListing" asp-controller="Home">Stories</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown-policy" href="#" id="navbarDropdown"
                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Policy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Volunteering</a>
                            <a class="dropdown-item" href="#">Sponsered</a>

                    </li>
                    <li>
                        <img src="~/NewFolder/user-img.png" style="align-content:flex-end;" alt="" class="user-avatar">
                    </li>



                </ul>
                <div class="nav-item dropdown" style="margin-right:15%; width:auto;">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: grey; ">

                        <button class="btn1 dropdown-toggle" style="width:100%; border: none; color: grey; " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @ViewBag.fullname
                        </button>

                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Add Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a></li>
                    </ul>
                </div>

            </div>
        </nav>
        <hr>

    </div>
</header>
<body>

    <div class="row">

        <div class="col">
            <h1 style="margin-top:5%; margin-left:15%;">Volunteering Timesheet</h1>
        </div>

    </div>
    <br /></br>
    <div class="row">

        <div class="col-1"></div>
        <div class="col-4 left-box">

            <div class="row">
                <div class="col-6">
                    <h5 style="margin-left:10%; margin-top:15%; color: #414141;">Volunteering Hours</h5>

                </div>

                <div class="col-6">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn add-hours" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="~/NewFolder/plus.png" class="plus-img" />
                        Add
                    </button>


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Please input below Volunteering Hours</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form id="myform" asp-action="VolTimesheet" asp-controller="Home" method="post">
                                    <div class="modal-body">

                                        <div>

                                            <label asp-for="Mission" class="form-label">Mission</label>

                                            <select asp-for="Mission" name="Mission" onchange="timemissionId(this)" id="Mission" class="form-select">
                                                <option selected disabled>Select Mission</option>
                                                @{
                                                    foreach (var missions in ViewBag.appliedMissions)
                                                    {
                                                        foreach (var missions1 in ViewBag.goalmissions)
                                                        {
                                                            if (missions.MissionId != missions1.MissionId)
                                                            {
                                                                <option id="@missions.MissionId" value="@missions.Mission.Title">@missions.Mission.Title</option>
                                                                break;
                                                            }
                                                        }

                                                    }
                                                }

                                            </select>
                                            <span asp-validation-for="Mission" class="text-danger" style="font-size:12px;"></span>


                                        </div>
                                        <br />
                                       

                                                <div>
                                                    <label asp-for="Date" class="form-label">Date Volunteered</label>
                                                    <input asp-for="Date" id="Date" type="date" placeholder="Select Date" class="form-control">
                                                    <span asp-validation-for="Date" class="text-danger" style="font-size:12px;"></span>

                                                </div>
                                        
                                        <br />
                                        <div class="row">
                                            <div class="col-6">
                                                <label asp-for="Hours" class="form-label">Hours</label>
                                                <input asp-for="Hours" id="Hours" name="Hours" type="number" placeholder="Enter Spent Hours" class="form-control" required>
                                                <span asp-validation-for="Hours" class="text-danger" style="font-size:12px;"></span>

                                            </div>
                                            <div class="col-6">
                                                <label asp-for="Minutes" class="form-label">Minutes</label>
                                                <input asp-for="Minutes" name="Minutes" id="Minutes" type="number" placeholder="Enter Spent Minutes" class="form-control" required>
                                                <span asp-validation-for="Minutes" class="text-danger" style="font-size:12px;"></span>

                                            </div>
                                        </div>
                                        <br />
                                        <div>
                                            <label asp-for="Message" class="form-label">Message</label>
                                            <br />
                                            <textarea asp-for="Message" name="Message" id="Message" class="form-control" rows="5" placeholder="Enter your message" required></textarea>
                                            <span asp-validation-for="Message" class="text-danger" style="font-size:12px;"></span>
                                            <input hidden></input>
                                        </div>

                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn save-btn" onclick="submitTimedata()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <br>
            <div class="row" style="margin-left:2%; margin-top:3%;">

                <div class="col-3"><b>Mission</b></div>

                <div class="col-3"><b>Date</b></div>

                <div class="col-2"><b>Hours</b></div>

                <div class="col-2"><b>Minutes</b></div>

                <div class="col-2"></div>

            </div>
            <br />
            <div class="row" style="margin-left:2%;">

                @{

                    foreach (var missions in ViewBag.appliedMissions)
                    {
                        foreach (var missions1 in ViewBag.goalmissions)
                        {
                            if (missions.MissionId != missions1.MissionId)
                            {

                                foreach (var timedata in ViewBag.timesheetAllData)
                                {

                                    if (timedata.t.Action == null)
                                    {


                                        <div class="col-3">@timedata.m.Title</div>

                                        <div class="col-3">@timedata.t.DateVolunteered.ToShortDateString()</div>

                                        <div class="col-2">@ViewBag.hours h</div>

                                        <div class="col-2">@ViewBag.minutes mins</div>

                                        <div class="col-2">

                                            <div class="row" style="display:flex;">
                                                <div class="col-1" style="margin-left:5%;">

                                                    <!-- Button trigger modal -->
                                <button type="button" class="add-hours fas fa-edit" style="border:none; font-size:22px;" data-bs-toggle="modal" data-bs-target="#exampleModalEdit">
                                                       
                                                    </button>



                                                    <!-- Modal -->
                                <div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Please input below Volunteering Hours</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <form id="editVolT" asp-action="VolTimesheet" asp-controller="Home" method="post">
                                                                    <div class="modal-body">

                                                                        <div>

                                                                            <label asp-for="Mission" class="form-label">Mission</label>

                                                                            <select asp-for="Mission" name="Mission" onchange="editVoltime(this)" id="Missionedit" class="form-select">
                                                                                <option selected disabled>Select Mission</option>
                                                                                @{
                                                                                    foreach (var missionsT in ViewBag.appliedMissions)
                                                                                    {
                                                                                        foreach (var missions1g in ViewBag.goalmissions)
                                                                                        {
                                                                                            if (missionsT.MissionId != missions1g.MissionId)
                                                                                            {
                                                                                                <option id="@missionsT.MissionId" value="@missionsT.Mission.Title">@missionsT.Mission.Title</option>
                                                                                                break;
                                                                                            }
                                                                                        }

                                                                                    }
                                                                                }

                                                                            </select>
                                                                            <span asp-validation-for="Mission" class="text-danger" style="font-size:12px;"></span>



                                                                        </div>
                                                                        <br />



                                                                        <div>
                                                                            <label asp-for="Date" class="form-label">Date Volunteered</label>
                                                                            <input asp-for="Date" id="DateEdit" type="date" placeholder="Select Date" class="form-control" asp-format="{0:yyyy/MM/dd}" min=@timedata.m.StartDate.ToShortDateString() max=@timedata.m.EndDate.ToShortDateString()>
                                                                            <span asp-validation-for="Date" class="text-danger" style="font-size:12px;"></span>

                                                                        </div>


                                                                        <br />
                                                                        <div class="row">
                                                                            @{
                                                                                if (ViewBag.timesheetAllData != null)
                                                                                {
                                                                                    <div class="col-6">


                                                                                        <label asp-for="Hours" class="form-label">Hours</label>
                                                                                        <input asp-for="Hours" value=@ViewBag.hours id="HoursEdit" name="Hours" type="number" placeholder="Enter Spent Hours" class="form-control" required>
                                                                                        <span asp-validation-for="Hours" class="text-danger" style="font-size:12px;"></span>

                                                                                    </div>
                                                                                    <div class="col-6">
                                                                                        <label asp-for="Minutes" class="form-label">Minutes</label>
                                                                                        <input asp-for="Minutes" value=@ViewBag.minutes name="Minutes" id="MinutesEdit" type="number" placeholder="Enter Spent Minutes" class="form-control" required>
                                                                                        <span asp-validation-for="Minutes" class="text-danger" style="font-size:12px;"></span>

                                                                                    </div>
                                                                                }
                                                                            }
                                                                        </div>
                                                                        <br />
                                                                        <div>
                                                                            <label asp-for="Message" class="form-label">Message</label>
                                                                            <br />
                                                                            <textarea asp-for="Message" name="Message" id="MessageEdit" class="form-control" rows="5" placeholder="Enter your message" required>
                                                                                                                                             </textarea>
                                                                            <span asp-validation-for="Message" class="text-danger" style="font-size:12px;"></span>
                                                                            <input hidden></input>
                                                                        </div>

                                                                    </div>
                                                                </form>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn save-btn" onclick="saveVolTime()">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-1" style="margin-left:10%;">
                                                    @{

                                                        foreach (var removemissions in ViewBag.appliedMissions)
                                                        {
                                                            foreach (var removemissions1 in ViewBag.goalmissions)
                                                            {
                                                                if (removemissions.MissionId != removemissions1.MissionId)
                                                                {

                                                                    foreach (var removetimedata in ViewBag.timesheetAllData)
                                                                    {
                                                                        if (removetimedata.t.Action == null)
                                                                        {


                                                                            <button class="fa fa-trash" style="background:none; border:none; font-size:20px; margin-top:1%;" onclick="onremove(@removetimedata.t.MissionId)" type="button" style="border:none; background:none;">

                                                                            </button>


                                                                        }

                                                                    }
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                    }

                                                </div>
                                            </div>

                                        </div>
                                    }
                                }
                                break;
                            }
                        }
                    }
                }
            </div>



        </div>
        <div class="col-2"></div>
        <div class="col-4 right-box">


            <div class="row">
                <div class="col-6">
                    <h5 style="margin-left:5%; margin-top:15%; color: #414141;">Volunteering Goals</h5>

                </div>

                <div class="col-6">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn add-hours" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        <img src="~/NewFolder/plus.png" class="plus-img" />
                        Add
                    </button>


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Please input below Volunteering Goal</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form id="myform2" asp-action="VolTimesheet" asp-controller="Home" method="post">

                                    <div class="modal-body">
                                        <div>

                                            <label asp-for="goalmissionlist" class="form-label">Mission</label>

                                            <select asp-for="goalmissionlist" id="goalmissionlist" class="form-select">
                                                <option selected disabled>Select Mission</option>

                                                @{


                                                    foreach (var missions1 in ViewBag.goalmissions)
                                                    {


                                                        <option id="@missions1.MissionId" value="@missions1.m.Title">@missions1.m.Title</option>

                                                        break;
                                                    }

                                                }

                                            </select>

                                            <span asp-validation-for="goalmissionlist" class="text-danger" style="font-size:12px;"></span>



                                        </div>
                                        <br />

                                        <div>

                                            <label asp-for="Action" class="form-label">Action</label>
                                            <input asp-for="Action" name="Action" id="Action" type="number" placeholder="Enter action" class="form-control" required>
                                            <span asp-validation-for="Action" class="text-danger" style="font-size:12px;"></span>

                                        </div>

                                        <br />
                                        <div>
                                            <label asp-for="DateVol" class="form-label">Date Volunteered</label>
                                            <input asp-for="DateVol" name="DateVol" id="DateVol" type="date" placeholder="Select Date" class="form-control" required>
                                            <span asp-validation-for="DateVol" class="text-danger" style="font-size:12px;"></span>

                                        </div>
                                        <br />


                                        <div>
                                            <label asp-for="GoalMessage" class="form-label">Message</label>
                                            <br />
                                            <textarea asp-for="GoalMessage" name="GoalMessage" id="GoalMessage" class="form-control" rows="5" placeholder="Enter your message" required></textarea>
                                            <span asp-validation-for="GoalMessage" class="text-danger" style="font-size:12px;"></span>
                                            <input hidden></input>
                                        </div>
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn save-btn" onclick="submitGoaldata()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <br>
            <div class="row" style="margin-left:2%; margin-top:3%;">



                <div class="col-3"><b>Mission</b></div>

                <div class="col-3"><b>Date</b></div>

                <div class="col-3"><b>Action</b></div>


            </div>
            <br />
            <div class="row" style="margin-left:2%;">

                @{

                    foreach (var missions in ViewBag.appliedMissions)
                    {
                        foreach (var missions1 in ViewBag.goalmissions)
                        {
                            if (missions.MissionId != missions1.MissionId)
                            {

                                foreach (var timedata in ViewBag.timesheetAllData)
                                {
                                    if (timedata.t.TimesheetTime == null)
                                    {
                                        <div class="col-3">@timedata.m.Title</div>

                                        <div class="col-3">@timedata.t.DateVolunteered.ToShortDateString()</div>

                                        <div class="col-3">@timedata.t.Action</div>

                                        <div class="col-2">

                                            <div class="row" style="display:flex;">
                                                <div class="col-1" style="margin-left:5%;">

                                                    <!-- Button trigger modal -->
                                <button type="button" class="add-hours fas fa-edit" style="border:none; font-size:22px;" data-bs-toggle="modal" data-bs-target="#exampleModalEditGoal">
                                                        
                                                    </button>



                                                    <!-- Modal -->
                                <div class="modal fade" id="exampleModalEditGoal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Please input below Volunteering Hours</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <form id="editVolT" asp-action="VolTimesheet" asp-controller="Home" method="post">
                                                                    <div class="modal-body">

                                                                        <div>

                                                                            <label asp-for="Mission" class="form-label">Mission</label>

                                                                            <select asp-for="Mission" name="Mission" onchange="editVolGoal(this)" id="MissioneditGoal" class="form-select">
                                                                                <option selected disabled>Select Mission</option>
                                                                                @{
                                                                                    foreach (var missionsG in ViewBag.goalmissions)
                                                                                    {


                                                                                        <option id="@missionsG.MissionId" value="@missionsG.m.Title">@missionsG.m.Title</option>

                                                                                        break;
                                                                                    }



                                                                                }

                                                                            </select>
                                                                            <span asp-validation-for="Mission" class="text-danger" style="font-size:12px;"></span>



                                                                        </div>
                                                                        <br />



                                                                        <div>

                                                                            <label asp-for="Action" class="form-label">Action</label>
                                                                            <input asp-for="Action" name="Action" id="ActionGoalEdit" type="number" placeholder="Enter action" class="form-control" required>
                                                                            <span asp-validation-for="Action" class="text-danger" style="font-size:12px;"></span>

                                                                        </div>

                                                                        <br />
                                                                        <div>
                                                                            <label asp-for="DateVol" class="form-label">Date Volunteered</label>
                                                                            <input asp-for="DateVol" name="DateVol" id="DateVolGoalEdit" type="date" placeholder="Select Date" class="form-control" required>
                                                                            <span asp-validation-for="DateVol" class="text-danger" style="font-size:12px;"></span>

                                                                        </div>
                                                                        <br />


                                                                        <div>
                                                                            <label asp-for="GoalMessage" class="form-label">Message</label>
                                                                            <br />
                                                                            <textarea asp-for="GoalMessage" name="GoalMessage" id="GoalMessageEdit" class="form-control" rows="5" placeholder="Enter your message" required></textarea>
                                                                            <span asp-validation-for="GoalMessage" class="text-danger" style="font-size:12px;"></span>
                                                                            <input hidden></input>
                                                                        </div>

                                                                    </div>
                                                                </form>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn save-btn" onclick="saveVolGoal()">Submit</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>




                                                <div class="col-1" style="margin-left:10%;">

                                                     @{

                                                        foreach (var removemissions in ViewBag.appliedMissions)
                                                        {
                                                            foreach (var removemissions1 in ViewBag.goalmissions)
                                                            {
                                                                if (removemissions.MissionId != removemissions1.MissionId)
                                                                {

                                                                    foreach (var removetimedata in ViewBag.timesheetAllData)
                                                                    {
                                                                        if (removetimedata.t.TimesheetTime == null)
                                                                        {


                                                                            <button class="fa fa-trash" style="background:none; border:none; font-size:20px; margin-top:1%;" onclick="onremovegoal(@removetimedata.t.MissionId)" type="button" style="border:none; background:none;">
                                                                                
                                                                            </button>


                                                                        }

                                                                    }
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                    }


                                                </div>
                                            </div>

                                        </div>
                                    }
                                }
                                break;
                            }
                        }
                    }
                }
            </div>


        </div>
        <div class="col-1"></div>
    </div>

    <script src="~/js/landing.js"></script>


</body>
</html>