@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <link rel="stylesheet" href="~/css/platformlandingpage.css">
    <link rel="stylesheet" href="~/css/volLanding.css">
    <!-- <script src="/js/rating.js"></script> -->

    <title>Volunteering Mission Page</title>
</head>

<body>


    <header>
        <div class="container-fluid">


            <nav class="navbar navbar-expand-md navbar-light ">

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item stories">
                            <a class="nav-link" href="#">Stories</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-policy" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Policy
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Volunteering</a>
                                <a class="dropdown-item" href="#">Sponsered</a>
</div>
                        </li>


                        <li>
                            <img src="~/NewFolder/user-img.png" alt="" class="user-avatar">
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-username" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Evan Donohue
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Volunteering</a>
                                <a class="dropdown-item" href="#">Sponsered</a>
</div>
                        </li>



                    </ul>

                </div>
            </nav>
            <hr>
            <!-- <div class="line1"></div> -->
            <div class="container-fluid">
                <div class="row row-search">
                    <div class="col-lg-6 col-sm-6">
                        <nav class="navbar navbar-expand-lg navbar-light  search-nav">

                            <div class="search-combine">

                                <img src="~/NewFolder/search.png" alt="" class="search-icon">

                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2 search-bar" type="search"
                                        placeholder="Search mission..." aria-label="Search">

                                </form>
                            </div>

                        </nav>
                    </div>
                    <div class="col-lg-5 col-sm-6">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Country
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            City
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Theme
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Skills
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>

                    </div>
                    <div class="col-lg-1">

                    </div>




                </div>
            </div>
            <hr class="hr2">

        </div>
    </header>

    <div class="container-fluid">

        <div class="row no-gutters">

            <!-- <div class="col-md-6 first-col bg-primary">

                <img src="~/NewFolder/Layer 126@2x.png" alt="" class="main-img">

                <div class="container text-center my-3 car-class">

                    <div class="row mx-auto my-auto justify-content-center">
                      <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                          <div class="carousel-item active">
                            <div class="col-sm-3">
                              <div class="card" style="width: 75%;">
                                <div class="card-img">
                                  <img src="~/NewFolder/vol-carousel-1.png">
                                </div>
                
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="col-sm-3">
                              <div class="card" style="width: 75%;">
                                <div class="card-img">
                                  <img src="~/NewFolder/vol-carrousel-2.png" >
                                </div>
                
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="col-sm-3">
                              <div class="card" style="width: 75%;">
                                <div class="card-img">
                                  <img src="~/NewFolder/volcarousel-3.png">
                                </div>
                
                              </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="col-sm-3">
                              <div class="card" style="width: 75%;">
                                <div class="card-img">
                                  <img src="~/NewFolder/vol-carousel-4.png" >
                                </div>
                
                              </div>
                            </div>
                          </div>
                
                        </div>
                        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                      </div>
                    </div>
                
                  </div>
                




            </div> -->

            <div class="col-md-6 first-col ">
                <img id="changingimg" class="main-img" src="~/NewFolder/Layer 126.png" style="height: 80%;">
                <div class="container text-center my-3">

                    <div class="row mx-auto my-auto justify-content-center">
                        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="col-sm-3">
                                        <div class="card" style="width: 75%;">
                                            <div class="card-img">
                                                <button style="background: none; border: none;" id="unique1"
                                                    onclick="function1()">
                                                    <img src="~/NewFolder/vol-carousel-1.png" class="img-fluid">
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="col-sm-3">
                                        <div class="card" style="width: 75%;">
                                            <div class="card-img">
                                                <button style="background: none; border: none;" id="unique2"
                                                    onclick="function2()">
                                                    <img src="~/NewFolder/vol-carrousel-2.png" class="img-fluid">
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="col-sm-3">
                                        <div class="card" style="width: 75%;">
                                            <div class="card-img">
                                                <button style="background: none; border: none;" id="unique3"
                                                    onclick="function3()">
                                                    <img src="~/NewFolder/volcarousel-3.png" class="img-fluid">
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="col-sm-3">
                                        <div class="card" style="width: 75%;">
                                            <div class="card-img">
                                                <button style="background: none; border: none;" id="unique4"
                                                    onclick="function4()">
                                                    <img src="~/NewFolder/vol-carousel-4.png" class="img-fluid">
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </a>
                            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-md-6 right-div ">

                <div class="txt">
                    <h1 class="main-txt">CSR initiative stands for Coffee & <br> Farmer Equity</h1>
                    <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.</p>
                    <br>
                    <div class="hr-btn">
                        <hr class="hr-line">
                        <button class="btn-trees">Plant 10,000 Trees</button>
                        <!-- <button class="btn-trees">Plant 10,000 Trees</button> -->
                    </div>

                    <div class="row">

                        <div class="col-6 img-and-txt" style="display: flex;">
                            <img class="icons1" src="~/NewFolder/Seats-left.png">
                            <div class="hssh">
                                <p class="seatno"><b>10</b> </p>
                                <p class="seat">Seats Left</p>
                            </div>
                        </div>

                        <div class="col-6" style="display: flex;">
                            <img src="~/NewFolder/mission.png" alt="" class="mission-img">
                            <div class="hssh">
                                <div class="progress">
                                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="achieved">8000 achieved</p>
                            </div>

                        </div>



                    </div>

                    <hr class="hr-line">
                    <br>
                    <div class="row two-btn-row">

                        <div class="col-sm-6">

                            <button class="fav-btn">

                                <img src="~/NewFolder/heart1.png" alt="">
                                &nbsp;
                                Add to favourite

                            </button>

                        </div>

                        <div class="col-sm-6">
                            <button class="fav-btn">

                                <img src="~/NewFolder/add1.png" alt="">
                                &nbsp;
                                Recommend to a Co-Worker

                            </button>

                        </div>


                    </div>
                    <br>
                    <!-- <hr class="hr-line-star"> -->
                    <div class="row ">



                        <div class="star" style="display: flex;">

                            <img src="~/NewFolder/star-empty.png" alt="">
                            <img src="~/NewFolder/star-empty.png" alt="">
                            <img src="~/NewFolder/star-empty.png" alt="">
                            <img src="~/NewFolder/star-empty.png" alt="">
                            <img src="~/NewFolder/star-empty.png" alt="">

                        </div>
                        <!-- <hr class="hr-line-star2"> -->
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-lg-3 col-xs-6 col-md-6">

                            <div class="box1">
                                <div class="all-content">
                                    <img src="~/NewFolder/pin1.png" class="pin-img" alt="">
                                    <p class="city">City</p>
                                    <p class="london">London</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6 col-md-6">
                            <div class="box2">
                                <div class="all-content">
                                    <img src="~/NewFolder/web.png" class="pin-img" alt="">
                                    <p class="city">Theme</p>
                                    <p class="london">Environment</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6 col-md-6">
                            <div class="box3">
                                <div class="all-content">
                                    <img src="~/NewFolder/calender.png" class="pin-img" alt="">
                                    <p class="city">Date</p>
                                    <p class="london">Ongoing Opportunity</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6 col-md-6">
                            <div class="box4">
                                <div class="all-content">
                                    <img src="~/NewFolder/add1.png" class="pin-img" alt="">
                                    <p class="city">Organization</p>
                                    <p class="london">CSE Network</p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <br><br><br>
                    <div class="row">
                        <div class="col apply-row">
                            <button class="apply-btn">Apply Now

                                <img src="~/NewFolder/right-arrow.png" alt="" class="right-arrow">

                            </button>
                        </div>



                    </div>


                </div>

            </div>




        </div>
        <br>
        <div class="row">

            <div class="col-md-8">


                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#mission" class="active links1">Mission</a></li>
                    <li><a data-toggle="tab" href="#org" class="links2">Organization</a></li>
                    <li><a data-toggle="tab" href="#comm" class="links3">Comments</a></li>

                </ul>

                <div class="tab-content">
                    <div id="mission" class="tab-pane fade show active">
                        <h3>Introduction</h3>
                        <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <p class="para-lorem">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. </p>
                        <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br>
                        <h3>Challenge</h3>

                        <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br>
                        </p>

                        <h3>Documents</h3>


                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <button class="doc-btn">

                                    <img src="~/NewFolder/pdf.png" alt="">&nbsp;
                                    lorem-ipsum.pdf

                                </button>

                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6">

                                <button class="doc-btn">

                                    <img src="~/NewFolder/doc.png" alt="">&nbsp;
                                    at_accusamus.doc
                                </button>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <button class="doc-btn">

                                    <img src="~/NewFolder/xlsx.png" alt="">&nbsp;
                                    important_doc.xls

                                </button>

                            </div>

                        </div>






                    </div>


                    <div id="org" class="tab-pane fade">
                        <h3>Introduction</h3>

                        <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br>
                        <h3>Challenge</h3>


                        <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <p class="para-lorem">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. </p>
                        <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <h3>Documents</h3>

                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <button class="doc-btn">

                                    <img src="~/NewFolder/pdf.png" alt="">&nbsp;
                                    lorem-ipsum.pdf

                                </button>

                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6">

                                <button class="doc-btn">

                                    <img src="~/NewFolder/doc.png" alt="">&nbsp;
                                    at_accusamus.doc
                                </button>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <button class="doc-btn">

                                    <img src="~/NewFolder/xlsx.png" alt="">&nbsp;
                                    important_doc.xls

                                </button>

                            </div>

                        </div>



                    </div>


                    <div id="comm" class="tab-pane fade">
                        <h3>Introduction</h3>
                        <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <p class="para-lorem">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. </p>
                        <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br>
                        <h3>Challenge</h3>

                        <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                        <p class="para-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            <br>
                        </p>

                        <h3>Documents</h3>

                        <div class="row">

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <button class="doc-btn">

                                    <img src="~/NewFolder/pdf.png" alt="">&nbsp;
                                    lorem-ipsum.pdf

                                </button>

                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6">

                                <button class="doc-btn">

                                    <img src="~/NewFolder/doc.png" alt="">&nbsp;
                                    at_accusamus.doc
                                </button>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <button class="doc-btn">

                                    <img src="~/NewFolder/xlsx.png" alt="">&nbsp;
                                    important_doc.xls

                                </button>

                            </div>

                        </div>



                    </div>

                </div>







            </div>

            <div class="col-md-4">

                <div class="row right-down">
                    <div class="col">
                        <div class="info">
                            <h3>Information</h3>
                            <hr>
                            <div class="row">
                                <div class="col-3">
                                    <p class="para-skills">Skills</p>

                                </div>
                                <div class="col-9">
                                    <p class="all-skills">Cool, Easy going, Math, Computer</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-3">
                                    <p class="para-skills">Days</p>

                                </div>
                                <div class="col-9">
                                    <p class="all-skills">Weekend only</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-3">
                                    <p class="para-skills">Rating</p>

                                </div>
                                <div class="col-9">

                                    <div class="rating" style="margin-left: -4%;">
                                        <span class="rating__result"></span>
                                        <i class="rating__star far fa-star"></i>
                                        <i class="rating__star far fa-star"></i>
                                        <i class="rating__star far fa-star"></i>
                                        <i class="rating__star far fa-star"></i>
                                        <i class="rating__star far fa-star"></i>
                                    </div>
                                    <!-- <div class="star-s" style="display: flex;">

                                        <img src="~/NewFolder/selected-star.png" alt="">
                                        <img src="~/NewFolder/selected-star.png" alt="">
                                        <img src="~/NewFolder/selected-star.png" alt="">
                                        <img src="~/NewFolder/selected-star.png" alt="">
                                        <img src="~/NewFolder/selected-star.png" alt="">

                                        <div class="p-div">
                                            <p class="by-125">(by 125 volunteers)</p>
                                        </div>
                                    </div> -->



                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row right-down">
                    <div class="col" style="width: 100%; padding: 5%;">
                        <div class="info">
                            <h3>Recent Volunteers</h3>
                            <hr>
                            <div class="row" style="text-align: center;">
                                <div class="col-4">

                                    <img src="~/NewFolder/volunteer1.png" alt="" class="vol-img">
                                    <p class="vol-name">Andrew Johnson</p>

                                </div>

                                <div class="col-4">
                                    <img src="~/NewFolder/volunteer2.png" alt="" class="vol-img">
                                    <p class="vol-name">Charles Vigue</p>

                                </div>

                                <div class="col-4">

                                    <img src="~/NewFolder/volunteer3.png" alt="" class="vol-img">
                                    <p class="vol-name">Kathryn Roberts</p>
                                </div>

                            </div>

                            <div class="row" style="text-align: center;">
                                <div class="col-4">

                                    <img src="~/NewFolder/volunteer4.png" alt="" class="vol-img">
                                    <p class="vol-name">Estella Fowles</p>
                                </div>

                                <div class="col-4">
                                    <img src="~/NewFolder/volunteer5.png" alt="" class="vol-img">
                                    <p class="vol-name">Rose Lewis</p>

                                </div>

                                <div class="col-4">

                                    <img src="~/NewFolder/volunteer6.png" alt="" class="vol-img">
                                    <p class="vol-name">Raymond Pabon</p>
                                </div>

                            </div>

                            <div class="row" style="text-align: center;">
                                <div class="col-4">

                                    <img src="~/NewFolder/volunteer7.png" alt="" class="vol-img">
                                    <p class="vol-name">Travis Steen</p>
                                </div>

                                <div class="col-4">
                                    <img src="~/NewFolder/volunteer8.png" alt="" class="vol-img">
                                    <p class="vol-name">Sarah Santillan</p>

                                </div>

                                <div class="col-4">

                                    <img src="~/NewFolder/volunteer9.png" alt="" class="vol-img">
                                    <p class="vol-name">Linda Richards</p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>



            </div>


        </div>
        <br>
        <hr style="color: grey;">
        <h1 style="text-align: center;">Related Missions</h1>
        <br>
        <div class="row">

            <div class="col-lg-12">
                <div class="grid-view" id="grdp">

                 @*   <div class="container grid-container ">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4" style="margin-top: 5%;">
                                <div class="card">
                                    <img src="~/NewFolder/related-1.png" class="card-img-top" alt="...">
                                    <button class="missions">Environment</button>
                                    <div class="card-body">

                                        <h4 class="card-title">Grow Trees - On the path to <br>environment
                                            sustainability</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod
                                            tempor
                                            incididunt ut labore...</p>

                                        <div class="row">

                                            <div class="col-6">
                                                <span class="card-text">Tree Canada</span>

                                            </div>

                                            <div class="col-6" style="margin-left: -12%;">

                                                <div class="rating">
                                                    <span class="rating__result"></span>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                </div>
                                                <!-- <div class="star" style="display: flex; margin-left: 0%; margin-bottom: 10%;">
            
                                                    <img src="~/NewFolder/selected-star.png" alt="">
                                                    <img src="~/NewFolder/selected-star.png" alt="">
                                                    <img src="~/NewFolder/selected-star.png" alt="">
                                                    <img src="~/NewFolder/selected-star.png" alt="">
                                                    <img src="~/NewFolder/selected-star.png" alt="">
                    
                                                </div> -->

                                            </div>

                                        </div>


                                        <br><br>


                                        <div class="row">

                                            <div class="col-12">

                                                <div class="card-line">
                                                    <button class="btn-date">From 10/01/2023 until 25/02/2023</button>
                                                </div>
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">

                                            <div class="col-6 already-vol-main" style="display: flex;">

                                                <img src="~/NewFolder/Already-volunteered.png" alt=""
                                                    style="height: 30%; width: 30%;">
                                                <div class="already-vol">
                                                    <p>250</p>
                                                    <p>Already volunteered</p>
                                                </div>


                                            </div>

                                            <div class="col-6 already-vol-main" style="display: flex;">
                                                <img src="~/NewFolder/mission.png" alt="" class="mission-img"
                                                    style="height: 30%; width: 30%;">
                                                <div class="hssh">
                                                    <div class="progress" style="width: 100%;">
                                                        <div class="progress-bar w-75" role="progressbar"
                                                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                    <p class="achieved">8000 achieved</p>
                                                </div>

                                            </div>
                                        </div>
                                        <hr class="line-hr">
                                        <br>
                                        <div class="row">
                                            <div class="col-12" style="text-align: center;">
                                                <button class="apply-btn" style="margin-left: 0%;">Apply

                                                    <img src="~/NewFolder/right-arrow.png" alt="" class="right-arrow">

                                                </button>
                                            </div>
                                        </div>





                                    </div>

                                </div>
                            </div>


                            <div class="col-12 col-md-6 col-lg-4" style="margin-top: 5%;">
                                <div class="card">
                                    <img src="~/NewFolder/re-3.png" class="card-img-top" alt="...">
                                    <button class="missions">Environment</button>
                                    <div class="card-body">

                                        <h4 class="card-title">Grow Trees - On the path to <br>environment
                                            sustainability</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod
                                            tempor
                                            incididunt ut labore...</p>

                                        <div class="row">

                                            <div class="col-6">
                                                <span class="card-text">Tree Canada</span>

                                            </div>

                                            <div class="col-6" style="margin-left: -12%;">

                                                <div class="rating">
                                                    <span class="rating__result"></span>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                </div>
                                                <!-- <div class="star" style="display: flex; margin-left: 0%; margin-bottom: 10%;">
            
                                                    <img src="~/NewFolder/selected-star.png" alt="">
                                                    <img src="~/NewFolder/selected-star.png" alt="">
                                                    <img src="~/NewFolder/selected-star.png" alt="">
                                                    <img src="~/NewFolder/selected-star.png" alt="">
                                                    <img src="~/NewFolder/selected-star.png" alt="">
                    
                                                </div> -->

                                            </div>

                                        </div>


                                        <br><br>


                                        <div class="row">

                                            <div class="col-12">

                                                <div class="card-line">
                                                    <button class="btn-date">From 10/01/2023 until 25/02/2023</button>
                                                </div>
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">

                                            <div class="col-6 already-vol-main" style="display: flex;">

                                                <img src="~/NewFolder/Already-volunteered.png" alt=""
                                                    style="height: 30%; width: 30%;">
                                                <div class="already-vol">
                                                    <p>250</p>
                                                    <p>Already volunteered</p>
                                                </div>


                                            </div>

                                            <div class="col-6 already-vol-main" style="display: flex;">
                                                <img src="~/NewFolder/mission.png" alt="" class="mission-img"
                                                    style="height: 30%; width: 30%;">
                                                <div class="hssh">
                                                    <div class="progress" style="width: 100%;">
                                                        <div class="progress-bar w-75" role="progressbar"
                                                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                    <p class="achieved">8000 achieved</p>
                                                </div>

                                            </div>
                                        </div>
                                        <hr class="line-hr">
                                        <br>
                                        <div class="row">
                                            <div class="col-12" style="text-align: center;">
                                                <button class="apply-btn" style="margin-left: 0%;">Apply

                                                    <img src="~/NewFolder/right-arrow.png" alt="" class="right-arrow">

                                                </button>
                                            </div>
                                        </div>





                                    </div>

                                </div>
                            </div>


                            <div class="col-12 col-md-6 col-lg-4" style="margin-top: 5%;">
                                <div class="card">
                                    <img src="~/NewFolder/re-2.png" class="card-img-top" alt="...">
                                    <button class="missions">Environment</button>
                                    <div class="card-body">

                                        <h4 class="card-title">Grow Trees - On the path to <br>environment
                                            sustainability</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                            sed do eiusmod
                                            tempor
                                            incididunt ut labore...</p>

                                        <div class="row">

                                            <div class="col-6">
                                                <span class="card-text">Tree Canada</span>

                                            </div>

                                            <div class="col-6" style="margin-left: -12%;">
                                                <div class="rating">
                                                    <span class="rating__result"></span>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                    <i class="rating__star far fa-star"></i>
                                                </div>

                                            </div>

                                        </div>


                                        <br><br>


                                        <div class="row">

                                            <div class="col-12">

                                                <div class="card-line">
                                                    <button class="btn-date">From 10/01/2023 until 25/02/2023</button>
                                                </div>
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">

                                            <div class="col-6 already-vol-main" style="display: flex;">

                                                <img src="~/NewFolder/Already-volunteered.png" alt=""
                                                    style="height: 30%; width: 30%;">
                                                <div class="already-vol">
                                                    <p>250</p>
                                                    <p>Already volunteered</p>
                                                </div>


                                            </div>

                                            <div class="col-6 already-vol-main" style="display: flex;">
                                                <img src="~/NewFolder/mission.png" alt="" class="mission-img"
                                                    style="height: 30%; width: 30%;">
                                                <div class="hssh">
                                                    <div class="progress" style="width: 100%;">
                                                        <div class="progress-bar w-75" role="progressbar"
                                                            aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                    <p class="achieved">8000 achieved</p>
                                                </div>

                                            </div>
                                        </div>
                                        <hr class="line-hr">
                                        <br>
                                        <div class="row">
                                            <div class="col-12" style="text-align: center;">
                                                <button class="apply-btn" style="margin-left: 0%;">Apply

                                                    <img src="~/NewFolder/right-arrow.png" alt="" class="right-arrow">

                                                </button>
                                            </div>
                                        </div>





                                    </div>

                                </div>
                            </div>




                        </div>
                    </div>

                </div>*@


                 @*------------Related; Missions---------*@


                    <div class="container grid-container ">
                        <div class="row">
                            @foreach (var item in ViewBag.Result)
                            {
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card">
                                        <img src="~/NewFolder/imgenv.png" class="card-img-top" alt="...">
                                        <button class="missions">@item.Title</button>
                                        <div class="card-body">

                                            <h4 class="card-title">@item.m.Title</h4>
                                            <p class="card-text">@item.m.ShortDescription</p>
                                            <div class="combine" style="display: flex;">
                                                <div class="row">

                                                    <div class="col-6">
                                                        <span class="card-text">@item.m.OrganizationName</span>

                                                    </div>

                                                    <div class="col-6" style="margin-left: -12%;">
                                                        <div class="rating">
                                                            <span class="rating__result"></span>
                                                            <i class="rating__star far fa-star"></i>
                                                            <i class="rating__star far fa-star"></i>
                                                            <i class="rating__star far fa-star"></i>
                                                            <i class="rating__star far fa-star"></i>
                                                            <i class="rating__star far fa-star"></i>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                            <br>


                                            <div class="row">

                                                <div class="col-12">

                                                    <div class="card-line">
                                                        <button class="btn-date">From  @item.m.StartDate until @item.m.EndDate</button>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="iconandtext" style="display:flex">

                                                <img class="icons1" src="~/NewFolder/Seats-left.png">

                                                <div class="hssh">
                                                    <p class="seatno"> 10</p>
                                                    <p class="seat">Seats Left</p>
                                                </div>
                                                <img class="icons" src="~/NewFolder/deadline.png">
                                                <div class="hssh">

                                                    <p class="seatno"> 01/09/2019</p>
                                                    <p class="seat">Deadline</p>
                                                </div>
                                            </div>

                                            <hr class="line-hr">

                                            <button class="apply-btn">
                                                Apply

                                                <img src="~/NewFolder/right-arrow.png" alt="" class="right-arrow">

                                            </button>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>
                    </div>


                </div>


            </div>

        </div>

    </div>





    </div>
    <br>
    <script>
        let items = document.querySelectorAll('.carousel .carousel-item')

        items.forEach((el) => {
            const minPerSlide = 4
            let next = el.nextElementSibling
            for (var i = 1; i < minPerSlide; i++) {
                if (!next) {
                    // wrap carousel by using first child
                    next = items[0]
                }
                let cloneChild = next.cloneNode(true)
                el.appendChild(cloneChild.children[0])
                next = next.nextElementSibling
            }
        })
    </script>


    <script>

        const ratingStars = [...document.getElementsByClassName("rating__star")];
        const ratingResult = document.querySelector(".rating__result");

        printRatingResult(ratingResult);

        function executeRating(stars, result) {
            const starClassActive = "rating__star fas fa-star";
            const starClassUnactive = "rating__star far fa-star";
            const starsLength = stars.length;
            let i;
            stars.map((star) => {
                star.onclick = () => {
                    i = stars.indexOf(star);

                    if (star.className.indexOf(starClassUnactive) !== -1) {
                        // printRatingResult(result, i + 1);
                        for (i; i >= 0; --i) stars[i].className = starClassActive;
                    } else {
                        // printRatingResult(result, i);
                        for (i; i < starsLength; ++i) stars[i].className = starClassUnactive;
                    }
                };
            });
        }

        function printRatingResult(result, num = 0) {
            // result.textContent = `${num}/5`;
        }

        executeRating(ratingStars, ratingResult);
    </script>

    <script>

        var photo = document.getElementById("changingimg");
        function function1() {

            photo.src = "~/NewFolder/vol-carousel-1.png";

        }


        function function2() {

            photo.src = "~/VolunteeringMission/NewFolder/re-vol-2.png";

        }

        function function3() {

            photo.src = "~/wwwroot/NewFolder/re-vol-3.png";

        }


        function function4() {

            photo.src = "~/NewFolder/re-vol-4.png";

        }

    </script>


</body>

</html>